[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
	eol = lf
[help]
	autocorrect = 1
[color]
	ui = true
[push]
	default = simple
[alias]
	a = add
	aa = add --all
	s = status -suall
	c = commit
	cm = commit -m
	st = stash -u
	sa = stash apply
	l = !. ~/.githelpers && vgl
	pp = !git pull && git push
